.productList-title {
  margin: 20px;
  font-size: 65px;
}
.productList-filterContainer {
  display: flex;
  justify-content: space-between;
}
.productList-filter {
  margin: 20px;
}
.filterText {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}
.productList-filter select {
  padding: 5px 10px;
  margin-right: 20px;
  text-transform: capitalize;
  background-color: rgba(255, 255, 255, 0.555);
  border: 1px solid rgb(177, 177, 177);
  border-radius: 2px;
}

@media (max-width: 480px) {
  .productList-filterContainer {
    flex-direction: column;
  }
  .filterText {
    font-size: 15px;
    font-weight: 500;
  }
}
